<?xml version="1.0"?>
<!--
Copied and modified from ros2 control demos example:
https://github.com/ros-controls/ros2_control_demos/blob/foxy/ros2_control_demo_description/diffbot_description/ros2_control/diffbot_system.ros2_control.xacro
https://github.com/ros-controls/ros2_control_demos/blob/foxy/ros2_control_demo_description/rrbot_description/ros2_control/rrbot_system_position_only.ros2_control.xacro
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="base_arm_system" params="name prefix use_sim_time:=^|false use_fake_hardware:=^|false fake_sensor_commands:=^|false">

    <ros2_control name="${name}" type="system">


      <hardware>
        <plugin>gazebo_ros2_control/GazeboSystem</plugin>
      </hardware>

      <!--
      <xacro:unless value="$(arg use_sim)">
        <hardware>
          <xacro:if value="${use_fake_hardware}">
            <plugin>fake_components/GenericSystem</plugin>
            <param name="fake_sensor_commands">${fake_sensor_commands}</param>
            <param name="state_following_offset">0.0</param>
          </xacro:if>
          <xacro:unless value="${use_fake_hardware}">
            <plugin>turtlebot3_manipulation_hardware/TurtleBot3ManipulationSystemHardware</plugin>
            <param name="opencr_id">200</param>
            <param name="opencr_usb_port">/dev/ttyACM0</param>
            <param name="opencr_baud_rate">1000000</param>
            <param name="dxl_joints_profile_acceleration">100</param>
            <param name="dxl_joints_profile_velocity">500</param>
            <param name="dxl_gripper_profile_acceleration">20</param>
            <param name="dxl_gripper_profile_velocity">200</param>
          </xacro:unless>
        </hardware>
      </xacro:unless>
    -->

      <joint name="left_wheel_joint">
        <command_interface name="velocity">
          <param name="min">-24.5</param>
          <param name="max">24.5</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>
      <joint name="right_wheel_joint">
        <command_interface name="velocity">
          <param name="min">-24.5</param>
          <param name="max">24.5</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>

      <joint name="joint_1">
        <command_interface name="position">
          <param name="min">${-pi/2}</param>
          <param name="max">${pi/2}</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>
      <joint name="joint_2">
        <command_interface name="position">
          <param name="min">${-pi/2}</param>
          <param name="max">${pi/2}</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>
      <joint name="joint_3">
        <command_interface name="position">
          <param name="min">${-pi/2}</param>
          <param name="max">${pi/2}</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>
      <joint name="joint_4">
        <command_interface name="position">
          <param name="min">${-pi/2}</param>
          <param name="max">${pi/2}</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>
      <joint name="gripper_left_finger_joint">
        <command_interface name="position">
          <param name="min">-0</param>
          <param name="max">0.05</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>
      <joint name="gripper_right_finger_joint">
        <command_interface name="position">
          <param name="min">-0</param>
          <param name="max">0.05</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>
      <!--
      <joint name="end_effector_roll_joint">
        <command_interface name="position">
          <param name="min">-3.14</param>
          <param name="max">3.14</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>

      <joint name="end_effector_yaw_joint">
        <command_interface name="position">
          <param name="min">-3.14</param>
          <param name="max">3.14</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>
    -->
    </ros2_control>

  </xacro:macro>

</robot>
